@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=IM+Fell+DW+Pica:ital@0;1&family=Irish+Grover&family=Poiret+One&family=Tangerine:wght@400;700&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}

a {
  color: black;
}