@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Irish+Grover&family=Poiret+One&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}

a {
  color: black;
}