.acceptance-letter-container {
  align-items: center;
  background-image: url("https://res.cloudinary.com/dyyjvyqtn/image/upload/v1636132712/Parchment-Vector_pgvopc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  padding: 25px;
}

.acceptance-letter {
  display: flex;
  text-align: center ;
  font-family: 'Tangerine', cursive;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 50px;
  max-width: 50vw;
  width: 40%;
}

.acceptance-letter-button{
  border: none;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 75px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 960px) {

.acceptance-letter-container {
  height: 80vh;
}
}