footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  width: 100vw;
  height: 100px;
}

.footer-container {
  background-color: #b79b484b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section-one{
  display: flex;
}

.footer-section-two{
  display: flex;
}

.footer-section-three{
  display: flex;
}

.footer-stars {
  width: 50px;
}

.footer-logo{
  color: #B79B48;
  font-family: 'Irish Grover', cursive;
  font-size: 36px;
  margin-left: 15px;
  text-decoration: none;
}

.github-logo{
  display: flex;
  align-self: center;
  width: 75px;
}