nav {
  object-position: top;
  width: 100%;
  z-index: 2;
}

.navbar {
  align-items: center;
  background-color: #1c1c18;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo {
  color: #B79B48;
  display: flex;
  font-family: 'Irish Grover', cursive;
  font-size: 36px;
  margin: 15px 0 15px 15px;
  text-decoration: none;
}

.navbar-links-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}

.navbar-link {
  color: #9881C8;
  font-family: 'Irish Grover', cursive;
  font-size: 18px;
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  .navbar {
    align-items: flex-end;
  }

  .navbar-logo {
    font-size: 42px;
    margin-left: 30px;
  }

  .navbar-links-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 50vw;
  }
  .navbar-link {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {

  .navbar-logo {
    font-size: 48px;
    margin-left: 50px;
  }

  .navbar-links-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 50vw;
}

.navbar-link {
  font-size: 32px;
}
}